
body {
    font-family: Arial, sans-serif, Trebuchet;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url("wizardBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #260047;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

td a {
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #670074;
}

header {
    background-color: #3d0049;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0.5em 0;
    padding: .5em;
    font-size: 1.5em;
    color: #7f8c8d;
}

header img {
    border-radius: 50%;
    border: 5px solid #260047;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h4 {
    color: #260047;
    border-bottom: 2px solid #260047;
    padding-bottom: 0.5em;
}

section ul, section ol {
    margin: 0;
    padding: 0 1em;
}

section li {
    margin: 0.5em 0;
}

form {
    margin: 1em 0;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22em);
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #260047;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #3d0049;
}

footer {
    background-color: #260047;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer small {
    display: block;
    margin: 0.5em 0;
}

footer cite {
    font-style: normal;
    color: #7f8c8d;
}

section h1 {
    color: #260047;
    font-size: 2em;
    margin-bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #260047;
    color: white;
}

tr:nth-child(even) {
    background-color: #f4f4f9;
}

tr:hover {
    background-color: #ddd;
}
